
/*----------------------------General----------------------------*/
body,html{
  width:100%;height:100%
}

body {
  background-color: #B3B3B3;
  background-size: cover;
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
  width:100%;
  height:40%
}

#body-add{
  background-color: #F47920;
  height: 70%;
  width: 100%;
  position: absolute;
}

/*---------------------Index-------------------------*/

.container{
  background-color: #cccccc;
  width: 98%;
  margin: auto;
}



.container p{
  font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
  text-align: center;
  font-size: 18px;
  width: 90%;
  margin: auto;
}

.row{
  background-color: #cfda25;
  margin: auto;
}

.row p{
  font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
  font-weight: bold;
  background-color: #F47920;
  float: left;
  padding: 5% 2% 5% 2%;
  width: 15%;
  margin: 3%;

}

/*----------------------------Header----------------------------*/
header > section{
  background-color: #005883;
  padding: 4% 5% 5% 8%;
}

header.masthead .header-content{
  position:relative;width:100%;padding:150px 15px 100px;text-align:center
}

header.masthead .header-content .header-content-inner h1{
  font-size:30px;font-weight:700;margin-top:0;margin-bottom:0;text-transform:uppercase
}

header.masthead .header-content .header-content-inner hr{
  margin:30px auto
}

header.masthead .header-content .header-content-inner p{
  font-size:16px;font-weight:300;
  margin-bottom:50px;
  color:rgba(255,255,255,.7)
}

@media (min-width:768px){
  header.masthead{
    height:100%;
    min-height:600px
}
}

header.masthead .header-content{
  position:absolute;
  top:50%;
  padding:0px 0px 0px 0px;
  text-align: center;
  -webkit-transform:translateY(-50%);
  -ms-transform:translateY(-50%);
  transform:translateY(-50%)
}

header.masthead .header-content .header-content-inner{
  max-width:1000px;
  margin-right:auto;
  margin-left:auto
}

header.masthead .header-content .header-content-inner h1{
  font-size:50px
}

.bg-primary{
  background-color:#f05f40!important
}

.container{
  padding: 5% 1% 5% 1%;
  display: flex;
}

.navbar-nav>li.nav-item>a.nav-link:hover{
  color:#f05f40
}

header.masthead{
  position:relative;width:100%;
  min-height:auto;
  text-align:center;
  color:#fff;
  background-color: #005883;
  background-position:center;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;background-size:cover
}

/*----------------------------Menu----------------------------*/
.btn-primary{
  color:#fff;
  border-color:#f05f40;
  background-color:#0e435f;
  text-decoration: none;
}

#menu li {
    float: left;
    list-style-type: none;
}

li a, .dropbtn {
    display: inline-block;
    color: rgba(255,255,255,.7);
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    font-weight: bold;
}

nav{
   background-color: #0e3f58;
   padding: 0 70px 50px 70px;
}

nav > span{
   padding: 15px 10px 10px 10px;
   float: left;
   color: #ffffff;
   font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
   font-size: 15px;
   font-weight: bold;
}

#menu ul{
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
}

nav > ul{
   float: right;
}

li a:hover, .dropdown:hover .dropbtn {
  color: white;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #0e3f58;
  width: 140px;
  z-index: 1;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.dropdown-content a {
  color: rgba(255,255,255,.7);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: none;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*----------------------------List----------------------------*/

#list ul{
  list-style-type: square;
  font-size: 12px;
  text-align: justify;
  width: 100%;
}

#list li{
  list-style-type: square;
  font-size: 12px;
  text-align: justify;
  margin: 1%;
  width: 90%;
}

#list ul li{
  list-style-type: circle;
  font-size: 12px;
  text-align: justify;
  width: 100%;
}

/*----------------------------text Body----------------------------*/
h1,h2,h3,h4,h5,h6{
  font-family:'Open Sans','Helvetica Neue',Arial,sans-serif
}

#title{
  font-family:'Open Sans','Helvetica Neue',Arial,sans-serif;
  color: #ffffff;
}

p{
  font-size:12px;
  line-height:1.5;
  margin-bottom:20px;
  text-align: justify;
}

#readingsOne{
   background-color: #ffffff;
   padding: 10px;
   margin: 0% 10% 5% 15%;
   width: 70%;
   border-radius: 5px;
}

#text_body{
   padding: 5% 4% 5% 4%;
   text-align: justify;
}

#TextReference{
  margin: 5px 0px;
  font-style: italic;
  font-size: 11px;
  font-family:'Open Sans','Helvetica Neue',Arial,sans-serif;
}

/*----------------------------Images and decorative----------------------------*/
img {
  align-items: center;
  width: 100%;
  height: 100%;
}

hr{
  width:200px;
  border-width:3px;
  border-color: #F0B429;
}

#count{
  width: 50%;
  height: 50%;
  margin: 10px;
}

#complement{
  /*background-color: #57ea62;*/
  width: 90%;
  margin: auto;
}
#complement article a{
  float: left;
  padding: 1% 11%;
  margin: auto;
  text-align: center;
  width: 30%;

}
.imgauthors {
  width: 30%;
  height: 30%;
}


.count-timeline{
  width: 30%;
  height: 30%;
  background-color: #ffffff;
}

 /*---------------------------Buttons---------------------------*/
.btn-xl{
  padding:15px 30px
}

.btn{
  font-weight:700;
  border:none;
  border-radius:300px;
  font-family:'Open Sans','Helvetica Neue',Arial,sans-serif
}

.btn-primary.focus,.btn-primary:focus{
  color:#fff;
  border-color:#a4270d;
  background-color:#f19755
}

.btn-primary:hover{
  color:#fff;
  border-color:#e13612;
  background-color:#F47920
 }
/*----------------------------Footer----------------------------*/
footer{
  background-color: #005883;
  height: 56%;
  padding: 1% 5% 0% 5%;
}

.footer-row{
  width: 50%;
  float: left;
  margin: auto;
  font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
  padding-top: 1%;
}

.footer-row p{
  font-size: 16px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: -3%;
  padding: 1%;
  font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
  font-weight: bold;
  color: white;
}

.data-footer-end p{
  font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 4%;
  padding: 14% 0% 0% 0%;
  float: inherit;
  font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
  color: white;
}
/*---------Flex container----------*/

.flex-container {
  padding: 0;
  margin-top: 5%;
  margin-bottom: 2%;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: center;
}

.flex-item-1 {
  background-color: #F47920;
  border-radius: 10px;
}

.flex-item-2 {
  margin: 0px 10px;
  padding: 2px;
  width: 42%;
  justify-content: center;
  display: flex;
}

#flex-menu-1 {
  font-size: 20px;
  list-style: none;
  text-align: center;
  display: flex;

}

#flex-menu-2 {
  list-style: none;
  text-align: center;
  display: flex;
}

 #flex-menu-2 > p{
  width: 330px;
  font-size: 20px;
  color: white;
  font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
  font-weight: bold;
  margin: 15px 0px;
  text-align: center;
}

 li .flex-menu-item{
  font-size: 30px;
  list-style: none;
  margin: 20px 5px;
  color: white;
  width: 380px;
  display: flex;
  text-align: center;
  justify-content: center;
}

#contact{
    font-size: 20px;
    line-height: 40px;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    color: white;
    text-align: center;
    width: 80%;
    font-weight: bold;
    margin: auto;
}

iframe{
  justify-content: center;
  display: flex;
  margin: auto;
  margin-bottom: 100px;
}
